<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Guitar Shop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<div id="page">

    <div id="header">
        <h1>Product Manager</h1>
    </div>

    <div id="main">

        <h1>Product List</h1>

        <div id="sidebar">
            <h2>Categories</h2>
            <ul class = 'nav'>
                (% for category in category_list %)
                    <li>
                        <a href = '?category_key={{ category }}'>{{ category }}</a>
                    </li>
                {%  endfor %}
            </ul>
        </div>

        <div id="content">
            <h2>{{ category_key }}<h2>
            <table>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th> class="right">Price</th>
                    <th> </th>
                </tr>
                {% for product in product_list %}
                    <tr>
                        <td>{{ product[0] }}</td>
                        <td>{{ product[1] }}</td>
                        <td> class="right">{{ product[2] }}</td>
                        <td>
                            <form action="/delete product" method="post" id="delete_product_form">
                                <input type="hidden" name="category_key" value="{{ category_key }}"
                                <input type="hidden" name="product_code" value="{{ product[0] }}">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="footer">
        <p>
            &copy; My Guitar Shop, Inc.
        </p>
    </div>

</div>
</body>
</html>